@page "/experiences-{id:int}"
@using Microsoft.AspNetCore.Components.Sections
@using Portfolio2025.Components
@using Portfolio2025.Model

@if (Source == null)
{
    <MudAlert Severity="Severity.Error" Class="mt-4">La page demandée n'existe pas.</MudAlert>
    return;
}

<h1>@(Source?.Name)</h1>
<h2>@(Source?.Organization) - @(Source?.Year)</h2>

@if (Source?.Competences.Any() ?? false)
{
    <MudStack Row=true AlignItems="AlignItems.Center" Justify="Justify.SpaceEvenly" Wrap=Wrap.Wrap Style="gap: 0; margin-top: 1em;">
        @foreach (Competence item in Source?.Competences ?? [])
        {
            <CompetenceCircle Source="item" />
        }
    </MudStack>
}

@if (Source?.HardSkills.Any() ?? false)
{
    <MudStack Row=true AlignItems="AlignItems.Center" Justify="Justify.SpaceEvenly" Wrap=Wrap.Wrap Style="gap: 0; margin: auto; width: 90%; margin-top: 1.5em;">
        @foreach (string item in Source?.HardSkills ?? [])
        {
            <MudStack Row=true Justify="Justify.Center">
                <MudChip T="string" Label="true">@item</MudChip>
            </MudStack>
        }
    </MudStack>
}

@if (Source?.SoftSkills.Any() ?? false)
{
    <MudStack Row=true AlignItems="AlignItems.Center" Justify="Justify.SpaceEvenly" Wrap=Wrap.Wrap Style="gap: 0; margin: auto; width: 90%; margin-top: 1em;">
        @foreach (string item in Source?.SoftSkills ?? [])
        {
            <MudStack Row=true Justify="Justify.Center">
                <MudChip T="string" Label="false">@item</MudChip>
            </MudStack>
        }
    </MudStack>
}

<MudDivider Style="margin: 1.5em" DividerType="DividerType.Middle"/>

@((MarkupString)(Source?.HtmlDescription ?? ""))

<style>
    p {
        margin: 1em;
    }

    img {
        max-width: 100%;
        display: block;
        margin: auto;
    }
</style>

@code {
    [Parameter]
    public required int Id { get; set; }

    public Experience? Source => Experiences.All.ElementAtOrDefault(Id);
}
