@page "/"
@using Microsoft.AspNetCore.Components.Sections
@using Portfolio2025.Components

<PageTitle>Home</PageTitle>

<SectionContent SectionName="hero-frame">
	<div class="mud-theme-primary" style="width: 100%; height: 250px;"></div>
</SectionContent>

<MainPicture Size="250" Top="-235" Style="margin: 10px;">
	<h1 style="text-align: center; margin-top: 10px;">Paul Maget</h1>
	<MudDivider />
	<h2 style="text-align: center">Développeur C#</h2>
</MainPicture>	

<!--<h1>Mes Compétences</h1>-->
<AlternatingList Style="margin: 50px" RowStyle="margin: 10px">
	<AlternatingListItem>
		<Template>
			<CompetenceCircle Icon="@Icons.Material.Filled.Email" />
		</Template>
	</AlternatingListItem>
	<AlternatingListItem>
		<Template>
			<CompetenceCircle Icon="@Icons.Material.Filled.Girl" />
		</Template>
	</AlternatingListItem>
	<AlternatingListItem>
		<Template>
			<CompetenceCircle Icon="@Icons.Material.Filled.Delete" />
		</Template>
	</AlternatingListItem>
	<AlternatingListItem>
		<Template>
			<CompetenceCircle Icon="@Icons.Material.Filled.Grain" />
		</Template>
	</AlternatingListItem>
	<AlternatingListItem>
		<Template>
			<CompetenceCircle Icon="@Icons.Material.Filled.Group" />
		</Template>
	</AlternatingListItem>
</AlternatingList>

<MudDivider />

<h1>Mes Expériences</h1>