
<MudCard Class="@(IsActivated ? "active" : "inactive")" Elevation="@(IsActivated ? 3 : 1)"
	onmouseover="@( () => OnActivate())" onmouseout="@(() => OnDeactivate())"
	onfocus="@(() => OnActivate())" onblur="@(() => OnDeactivate())">

	<MudCardMedia Style="flex-shrink: 0;" Image="@ImageUrl" />
	<MudCardHeader>
		<CardHeaderContent>
			<h2>@Title</h2>
		</CardHeaderContent>
	</MudCardHeader>

	<div style="display: flex; flex-direction: column; height: 100%">
		@if (IsActivated)
		{
			<div style="flex-grow: 1;">
				<MudText Style="flex-grow: 1; text-overflow: ellipsis;">
					@((MarkupString)Description)
				</MudText>
			</div>
		}

		<MudCardActions Class="card-actions-container">
			<MudButton>
				Voir plus
			</MudButton>
		</MudCardActions>
	</div>
</MudCard>

<style>
	.mud-card {
		height: 300px;
	}

	.mud-card.active {
		transition: 1s;
		scale: 1.08;
	}

	.mud-card.inactive {
		transition: 1s;
		scale: 1;
	}

	.mud-card.active .mud-card-media {
		transition: 1s;
		max-height: 100px;
	}

	.mud-card.inactive .mud-card-media {
		transition: 1s;
		max-height: 300px;
	}

	.card-actions-container {
		transition: 1s;
		flex-grow: 0;
		flex-shrink: 1
	}

	.mud-card.active .card-actions-container {
		flex-shrink: 0;
	}
</style>

@code {
	[Parameter]
	public string ImageUrl { get; set; } = "https://placehold.co/50x50";

	[Parameter]
	public string Title { get; set; } = "";

	[Parameter]
	public string Description { get; set; } = "";

	public bool IsActivated { get; set; } = true; //= false;

	public void OnActivate()
	{
		IsActivated = true;
	}

	public void OnDeactivate()
	{
		// IsActivated = false;
	}
}
